.menu-wrapper {
  margin-top: 1.3em;
}

.logo-wrapper {
    width: 100%;
}

.logo-container {
    text-align: center;
    padding: 2.5em 2.5em 0 2.5em;
}

.logo-container.collapsed {
    padding: 1em 1em 0 1em;
}